/*-------------
 	General
 	-------------*/




 	ul, nav a{
 		list-style: none;
 		text-decoration: none;
 		

 	}

 	nav {
 		margin-right: 5px;
 	}

 	nav a {
 		color:white;
 	}

 	img {
 		width: 100%;
 		height: auto;
 	}
 	


 	p {
 		margin-top: 10px;
 		text-align: center;
 		font-family: sans-serif, arial;
 	}

 	article p {
 		text-align: justify;
 	}

 	h1 {
 		font-family: 'Verdana', cursive;
 		font-size: 2rem;
 	}

 	h2 {
 		margin-top: 30px;
 		margin-bottom: 30px;
 		font-family: 'Verdana', cursive;
 		font-size: 1.6rem;
 	}





 	section{
 		display: flex;
 		flex-direction: column;
 		align-items: center;
 		margin-left: 13%;
 		flex:1;
 		margin-right: 13%;
 	}







/*-------------
 	Header
 	-------------*/

 	header{

 		z-index: 10;
 		width: 100%;
 		display: flex;
 		justify-content: space-between;
 		align-items: center;
 		color: black;
 		margin-top: 30px;
 		margin-bottom: 30px;
 		list-style: none;
 		background-color: #414a4f;
 		font-family: sans-serif;
 	}




 	

 	header nav{
 		display: flex;
 	}

 	header nav li{
 		margin: 0 15px;
 	}

 	header nav li:first-child{
 		margin-left: 0;	
 	}

 	header nav li:last-child{
 		margin-right: 0;	
 	}



 	







 	
 	@media (max-width: 1000px){

 		section{
 			padding: 30px 30px;
 			margin-right: 0px;
 			margin-left: 0px;
 		}

 	}

 	@media (max-width: 600px){

 		section{
 			padding: 40px 30px;
 		}

 		h1 {
 			font-family: Verdana, cursive;
 			font-size: 1.6rem;
 		}



 	}

 	@media (max-width: 700px){


 		header{
 			flex-direction: column;		
 		}

 		nav{
 			
 			flex-wrap: wrap;
 		}

 		.menu-btn div {
 			position: absolute;
 			left: 100%;
 			top: 64%;
 			padding-right: 8px;
 			margin-top: -0.50em;
 			line-height: 1.2;
 			font-size: 18px;
 			font-weight: 200;
 			vertical-align: middle;
 			z-index: 99;
 		}
 		
 		.menu-btn span {
 			display: block;
 			width: 19px;
 			height: 3px;
 			margin: 4px 0;
 			background: rgb(0,0,0);
 			z-index: 99;
 		}
 		
 		.responsive-menu{
 			display: none;
 		}

 	}

 }

 @media (max-width: 350px){

 	h1{
 		font-size: 1.4rem;
 	}
 }